.about .about-right-sec{
    position: relative;
}
@media (max-width:575px){
    .about .about-right-sec{
        padding-top:50px;
    }
}
@media only screen and (min-width:768px) and(max-width:991px){
    .about .about-right-sec{
        padding-top: 50px;
    }
}
@media only screen and (min-width:992px) and (max-width:1199px){
    .about .about-right-sec{
        padding-top:50px;
    }

}
@media only screen and (min-width:576px) and (max-width:767px){
    .about .about-right-sec{
        padding-top:50px;
    }
}
.row .about-right-sec .logo-center-img img{
    width: 100%;
    margin-bottom: 15px;
    vertical-align: middle;
}
.about .about-right-sec .img-box{
    position: absolute;
    bottom: -7px;
    left:-33px;
    width: 179px;
    height: 180px;
    padding: 31px 10px;
    background:var(--mainColor);
    text-align: center;
}
@media (max-width: 575px){
    .about .about-right-sec .img-box{
        left:0;
        width: 128px;
        height: 145px;
        padding: 8px 10px;
    }
}
.about .about-right-sec .img-box:before{
    width:0;
    height: 0;
    border-style: solid;
    border-width: 0 0 31px 34px;
    border-color: transparent transparent var(--mainColor) transparent;
    position: absolute;
    top: -29px;
    content: "";
    right:0;
    
}
.about .about-right-sec .img-box span{
    color: #000;
    font-size: 50px;
}
.about .about-right-sec .img-box p{
    color:#000;
    font-size: 15px;
}
.about .about-right-sec p{
    font-size: 22px;
    font-weight: lighter;
    padding-right: 13px;
    line-height: 1.5;
}